<!DOCTYPE html>
<meta charset="utf-8">
<title>Secondary Structure Viewer</title>

<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/testgraph.css">
	<link href="https://fonts.googleapis.com/css?family=Cousine:400,700|Inconsolata:400,700|Roboto+Mono:400,700|Source+Code+Pro:400,700" rel="stylesheet">
</head>
<body>
<div id = "topcontainer">
	<div id = "utils">
	      	<i class="fa fa-pencil-square-o" aria-hidden="true" color = "white"></i>
	      	<i class="fa fa-paint-brush" aria-hidden="true"></i>
	      	<i class="fa fa-share-square-o" aria-hidden="true"></i>
	</div>	
	<div id = "sequence"></div>
	<div id = "dbn"></div>
	<div id = "connectionMode">drag mode active &mdash; press X to initiate connection mode</div>
</div><!-- 
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script> -->
<script src = "https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
<script src="https://use.fontawesome.com/44aa3c92a8.js"></script>
<script type="text/javascript" src = "/js/lettering.js"></script>
<script type="text/javascript" src = "/js/helpers.js"></script>
<script type="text/javascript" src = "/js/testgraph_promises_events.js"></script>